/*star rating */
.star {
    position: relative;
    display: inline-block;
    font-size: 30px;
  }
  
  .star-under {
    color: #ddd;
  }
  
  .star-over {
    color: #f80;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  .star-visible {
    display: inline-block;
  }
  .checked {
      color: orange;
  }
  .fa-star{
      font-size: 25px;
  }


.photo-album-item .content {
    padding: 0 25px 20px;
    text-align: center;
}
.photo-album-item .sub-title {
    margin-bottom: 10px;

}
.specialization{
height: 85px;
    width: 200px;
}
.header{
background:#38a9ff;
}	
.search-bar .selectize-input {
    background-color:#fff;
}
.search-bar .selectize-control {
    background-color:#fff;	
}
.search-bar, .search-bar.w-search {
    width: 320px;
    background-color: #ffffff;
}
/* .yelo{
float:left;
margin-left: 10px;
} */
.btnmy{
line-height:2.5;
    margin: 0 5px;
	height: 70px;
}
@media (max-width: 1024px) {
.btnmy{
line-height:3.5;

}	
}
.search-bar .form-group.with-button button {
    color: #ffffff;
    fill: #ffffff;
    background-color: #ffffff;
}
.bg-group:before {
    background-image: url(../img/header.png);
}
.content-bg-wrap {
    background-image: url(../img/header.png);
}
.teammembers-thumb img {
    -webkit-filter: none;
    filter: none;
}
.ui-block-title>.fa-icon {
font-size:30px;
}

.footer {
    padding: 10px 55px 0;
}
.sub-footer-copyright {
    border-top: none;
	padding: 0;
    margin-top: -10px;
    margin-bottom: 10px;
}
.w-about .logo {
    margin-bottom: 10px;

}
.mgn-links li{
	float:left;	
    padding: 5px;
margin-right: -7px;
    color: #fff;
}
.mgn-links {
    margin: auto;
}

.social-item {
    padding: 0;
}
.control-block-button{
position:unset;
}
/* .control-block{
float:none;
} */
.socials li {
    margin-top: 15px;
}
.teammembers-item-prof {
    font-size: 13px;
	    margin-bottom: 15px;
		
}
.mgn-links li::after { 
    content: " |";
}
.mgn-links li:last-child::after { 
    content: "";
}
@media (max-width: 600px) {
	.mgn-links li{
		float:none;
	}
	.mgn-links li::after { 
		content: "";
	}	
}
.mobile-app-tabs {
    background-color: #38a9ff;
	}
.link-find-friend {
padding: 25px 10px;
}	
@media (max-width: 998px) and (min-width: 768px){
.search-bar, .search-bar.w-search {
    display: none;
}
}
.author-page {
    margin-left: 0;
}
@media (max-width: 1080px){
.mywrapper {
    display: unset;
    display: unset;
    display: unset;
    -webkit-box-pack:unset;
    -ms-flex-pack: unset;
    justify-content: unset;
}
}
.fixed-sidebar .logo {
    height: 70px;
    padding: 0 8px;
    background-color: #fff;
}
.logo .logo-title {
    color: #38a9ff;
}

/* Slider */
.main-header{
    padding: 0px;
}
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora031 {display:block;position:absolute;cursor:pointer;}
.jssora031 .a {fill:#fff;}
.jssora031:hover {opacity:.8;}
.jssora031.jssora031dn {opacity:.5;}
.jssora031.jssora031ds { opacity: .3; pointer-events: none; }



.header-spacer-small {
    height: 51px !important;
}
.avatar {
    object-fit: cover;
    width:36px;
    height:36px;
}
.cover-pic{
    object-fit: cover;
    width:820px;
    height:400px;
}


.file-upload__label_controal{
    background-color: #3f4257;
    display: block;
    color: #fff;
    font-weight: 700;
    line-height: 3.25;
    padding: 10px 67px;;
    font-size: .812rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}
.li_font{
    font-size: 16px;
    padding: 12px 0;
    color: #888da8;
    display: block;
    font-weight: 700;
}
.img_blog img{
    max-height: 440px;
    min-height: 440px;
    max-width: 100%;
    min-width: 100%;

}
.blog_cam_chat img{
    max-height: 300px;
    min-height: 300px;
    max-width: 100%;
    min-width: 100%;
}
/*.popup-chat {
    width: 328px;
     box-shadow: 0 0 34px 0 rgba(63,66,87,.1); 
    overflow: hidden;
    position: relative;
    z-index: 5;
}*/
.p_m_work{
   padding: 0 !important;
   margin: 0 !important;
}
.btns-sm {
    padding: .5rem 1.7rem;
    font-size: .688rem;
    line-height: 1.5;
     border-radius: .2rem; 
}
.btns{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.1rem;
    font-size: .812rem;
    line-height: 1.5;
     border-radius: .25rem; 
    transition: all .15s ease-in-out;
}
.btns {
    color: #fff;
    margin-bottom: 15px;
    position: relative;
}
.btns-block {
    display: block;
}
.btns-secondary{
    color: #111;
    background-color: #9a9fbf;
    border-color: #9a9fbf;
}
.chat_blog{
    max-height: 300px;
    min-height: 300px;
}
.popup-chat .mCustomScrollbar {
    overflow: hidden;
    max-height: 185px;
}
.popup-chat .chat-message-item {
    padding: 5px;
    background-color: black;
    margin-top: 0;
    border-radius: 0px;
    margin-bottom: 2px;
    font-size: 10px;
}
.popup-chat .ui-block-title {
    background-color: black;
    padding: 5px;
}
.h6, h6 {
    font-size: 11px;
}
.form_height{
    height: 38px;
}
.label_controal{
    position: absolute;
    pointer-events: none;
    transition: .3s ease all
}
.label_controal{
    top: 5px;
    font-size: 10px;
    line-height: 1.42857;
    left: 15px;

}
.img_blog picture img{
    max-height: 550px;
    min-height: 522px;
    max-width: 100%;
    min-width: 100%;
} 
.picture_blog picture img{
    max-height: 155px;
    min-height: 115px;
    max-width: 100%;
    min-width: 100%;
}
.l{
    border-left:4px solid white;
    border-right:4px solid white;
    margin-left: 2px;
}
.friend-avatar .author-thumb img{
    margin-top: 60px;
}
.author-content{
    margin-top: 60px;
}
.socail_h h6{
    margin-top: 7px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.heding_reviews p{
    margin-top: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}





@media(max-width:540px)
{
	.btn-block-mine{
			width:25%;
			}
	.d-xs-none{
	display:none !important;
	}			
	}

	.popup-chat-mine{
width:100% !important;
}
.img_blog picture img{
/* min-height:auto; */
max-height:440px;
}
.img_blog img {
min-height:auto;
max-height:440px;
}
@media(max-width:1080px)
{
    .picture_blog picture img {
        max-height: 155px;
    }		


.picture_blog picture img {
    max-height: 155px;
}


/****** Style Star Rating Widget *****/

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 